.contato {
    padding: 1em 1em;
    background-color: var(--branco);
}

.contato * {
    margin: 1em 0;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul);
}

.contato__descricao {
    font-weight: 300;
}

.contato__input {
    border: 1px solid var(--azul);
    color: var(--azul);
    width: 100%;
    padding: 1em 0;
    border-radius: 24px;
}

.contato__input::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--azul);
    background: url("../img/Email.svg");
    background-repeat: no-repeat;
    background-position: 1em;
}