.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.container__botao{
    display: none;
}

.cabecalho__titulo {
    display: none;
    font-family: var(--fonte-h1), sans-serif;
    font-size: 30px;
}

.cabecalho__titulo:not(.cabecalho__titulo--negrito) {
    font-weight: 400;
}

.lista-menu {
    position: absolute;
    top: 100%;
    width: 60vw;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
    z-index: 1; /* Para sobrepor o carrossel do Swiper.JS */
}

.container__botao:checked ~ .lista-menu {
    max-height: 600px;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista__nav {
    display: none;
}

.container__botao {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 0 3em;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }
    
    .cabecalho__titulo {
        display: inline-block;
    }
    .lista__nav {
        display: flex;
        justify-content: space-evenly;
    }

    .nav__link {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--preto);
        padding: 1em 2em;
    }

    .nav__link:hover {
        color: var(--branco);
        background: var(--azul-degrade);
    }

    .lista-menu {
        width: auto;
    }
    
    .nav__link-categorias:hover~.lista-menu {
        max-height: 1022px;
    }

    .container__imagem-transparente {
        display: none;
    }
}